<strong><p>Listagem de pessoas</p></strong>
<button (click)="inserir()">novo</button>
<br><br>
<table border="1">
  <thead>
    <tr>
      <th>#</th>
      <th>nome</th>
      <th>e-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pessoa">
      <td>{{p.id}}</td>
      <td>{{p.nome}}</td>
      <td>{{p.email}}</td>
      <td>
          <button (click)="deletar(p)" type="button">Remover</button>
          &nbsp;
          <button (click)="alterar(p)" type="button">Alterar</button>
      </td>
    </tr>
  </tbody>
</table>


