<strong><p>Listagem de pessoas</p></strong>
<input [(ngModel)]="searchText" type="search" placeholder="buscar...">
<br><br>
<button style="color: green;" (click)="inserir()">novo</button>
<br><br>
<table border="1">
  <thead>
    <tr>
      <th>#</th>
      <th>nome</th>
      <th>e-mail</th>
      <th>ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pessoa | search:searchText">
      <td>{{p.id}}</td>
      <td>{{p.nome}}</td>
      <td>{{p.email}}</td>
      <td>
        <button style="color: goldenrod;" (click)="alterar(p)" type="button">Alterar</button>
          &nbsp;
          <button style="color: red;" (click)="deletar(p)" type="button">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>


